#home-page {
  height: 100vh;
  background: url('../assets/home-background.svg') no-repeat;
  background-position: 35vw bottom;
}

#home-page .content {
  width: 90%;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

#home-page header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 45px;
}

#home-page header a {
  display: flex;
  color: var(--text-color-dark);
  font-weight: 700;
}

#home-page header a span {
  display: flex;
  margin-right: 16px;
  background-image: url('../assets/log-in.svg');
  width: 20px;
  height: 20px;
}

#home-page main {
  max-width: 560px;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home-page main h1 {
  font-size: 54px;
}

#home-page main p {
  font-size: 24px;
  line-height: 38px;
  margin-top: 24px;
  color: var(--text-color-dark);
}
body.light #home-page main p {
  color: var(--text-color-light);
}

#home-page main a {
  width: 100%;
  max-width: 360px;
  height: 72px;
  border-radius: 8px;
  background: var(--primary-color);
  margin-top: 40px;

  display: flex;
  align-items: center;

  transition: background-color 400ms;
}

#home-page main a:hover {
  background-color: var(--primary-color-hover);
}

#home-page main a strong {
  flex: 1;
  color: var(--text-color-button);
  text-align: center;
}

#home-page main a span {
  width: 72px;
  height: 72px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  background-color: rgba(0, 0, 0, 0.08);

  display: flex;
  align-items: center;
  justify-content: center;
}

#home-page main a span::after {
  content: '';
  background-image: url('../assets/search.svg');
  width: 20px;
  height: 20px;
}

body.light #home-page header a {
  color: var(--text-color-light);
}

.toggleClass {
  width: 20px;
  height: 20px;
  font-size: 18px;
  border-radius: 50%;
  background: #d1dae3;
  color: #d1dae3;
  font-family: Rototo;
  font-weight: bold;
  cursor: pointer;
}

.toggleClass:before {
  margin-left: 25px;
  content: 'Light Mode';
  white-space: nowrap;
}

body.light .toggleClass {
  background: var(--background-color-dark);
  color: var(--background-color-dark);
}

body.light .toggleClass:before {
  margin-left: 25px;
  content: 'Dark Mode';
  white-space: nowrap;
}