:root {
  /* Text */
  --text-title-color: #f0f0f5;
  --text-color: #f0f0f5;
  --text-color-dark: #252525;
  --text-color-button: #fff;

  /* Background */
  --background-color-dark: #252525;
  --background-color-light: #f0f0f5;

  /* Form */
  --background-form-dark: #3f3f44;
  --background-form-light: #6c6c80;

  --background-form-color-input: #f0f0f5;

  --text-color-form-dark: #252525;
  --text-color-form-light: #f0f0f5;

  /* Button */
  --primary-color: #43cb79;
  --primary-color-hover:  #2fb86e;

  /* Grid */
  --background-grid-dark: #f0f0f5;
  --background-grid-light: #6c6c80;
  --background-grid-selected:  #e1faec;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background: var(--background-color-dark);
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  color: var(--text-title-color);
}
