@media (max-width: 900px) {
  #home-page {
    background-position-x: 70vw;
  }

  #home-page .content {
    align-items: center;
    text-align: center;
  }

  #home-page header a {
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
  }

  #home-page main {
    align-items: center;
  }

  #page-search-results main .cards {
    grid-template-columns: 1fr;
  }

  #page-search-results main .cards img {
    height: 250px;
  }

  #home-create-point .field-group {
    flex-direction: column;
  }

  #home-create-point form .field-group .field + .field{
    margin-left: 0;
  }

  #home-create-point form .items-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  #home-create-point form button {
    width: 100%;
  }
}

@media (max-width: 1700px) {
  #home-page {
    background-position-x: 40vw;
  }
}

@media (max-height: 750px) {
  #home-page {
    background-position-y: 200px;
  }
}